@font-face {
    font-family: martel;
    src: url(assets/fonts/martel-regular-webfont.woff2);
}

@font-face {
    font-family: average;
    src: url(assets/fonts/average-regular-webfont.woff2);
}

:root{
    --white : #FFFFFF;
    --background : #f5f5f5;


    --primary-color: #fafafa;


    --ascent-color: #77AD78;
    --ascent-second-color: #76a676;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: average, martel, serif;
}

body, html {
    height: 100%;
    width: 100%;
}


.mainContainer{
    width: 100vw;
    height: 100%;
    min-height: 100%;

    overflow: hidden;
    position:relative;
    
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar library";
}

::-webkit-scrollbar{
    width: 8px;
}

.header{
    /* background-color: var(--background); */
    background-color: var(--white);
    box-shadow: rgb(218, 218, 218) 5px 3px 5px;
    z-index: 5;

    grid-area: header;
    
    padding: 24px;
}

#searchBarForm{
    display: grid;
    grid-template-columns: 40px 2.5fr repeat(3, 0.5fr) 0.6fr 0.6fr 0.7fr;
    gap: 12px;

    margin: 8.5px 0px;
    
}

.sidebar{
    background-color: var(--primary-color);

    grid-area: sidebar;

    display: grid;
    grid-template-rows: 200px 1fr;
    row-gap: 100px;

    padding: 50px 0px;
    
}

.sidebar svg {
    fill: var(--ascent-color);
}


.sidebar > span {
    justify-self: center;
    align-self: center;
}

.sidebar > span > svg{
    height: 150px;
    width: 150px;

}

.sidebar > span > p {
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;

}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 26px;

    padding-left: 50px;
}

.sidebar ul li{
    display: grid;
    grid-template-columns: 40px 1fr;
}

.sidebar ul > li:nth-child(4), .sidebar ul > li:nth-child(8){
    margin-bottom: 48px;
    
}



.library{
    background-color: var(--background);
    
    grid-area: library;

    overflow-y: scroll;

    display: grid;

    padding-left:  4%;

}



#searchBarForm > #search,
#searchBarForm > select{
    padding: 12px;
}


#search:focus-visible{
    outline: var(--ascent-color) 2px solid;
}


.counter{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.counter > p:last-child{
    font-size: 20px;
}


#searchBarForm > label[for="order"] {
    padding: 6px;
}

#order,
#order:disabled ~ #orderIcon > svg{
    display: none;
    height: 0;
}

#orderIcon{
    display: flex;
    justify-content: end;
    align-items: center;
}


#order:not(:disabled) ~ span::before,
#order:not(:disabled):checked ~ span::before{
    float: right;
    font-size: 1rem;
    padding-right: 6px;
}

#order:not(:disabled) ~ span::before{
    content: "Ascending";
}


#order:not(:disabled):checked ~ span::before{
    content: "Descending";
}

#orderIcon,
#searchBarForm > label:first-child{
    cursor: pointer;
}

#orderIcon > svg,
#searchBarForm > label:first-child > svg {
    fill: var(--ascent-color);
    z-index: 500;
}

#orderIcon:active > svg,
#searchBarForm > label:first-child:active > svg{
    transform: scale(1.2);
    transition: all 0.5s;
}


#order:checked ~ span > svg {
    transform: rotate(-180deg);
    transition: 0.5s;
}

#order:checked ~ #orderIcon:active > svg{
    scale: 1.2;
    transition: scale 0.5s;
}

#order:not(:checked) ~ span > svg{
    rotate: 0deg;
    transition: 0.5s;
}


#searchBarForm > button,
#searchBarForm > select,
#searchBarForm > input[type = "search"] {
    box-shadow: rgb(205, 205, 205) 2px 2px 5px;
    border: none;
    cursor: pointer;
}


#searchBarForm > button,
#searchBarForm > #search {
    border-radius: 20px;
    width: 100%;
    justify-self: center;
}

#searchBarForm > button{
    background-color: var(--primary-color);
    border: var(--ascent-color) 2px solid;
}

#searchBarForm > button:hover{
    background-color: var(--ascent-color);
}


#libraryDisplay{

    padding: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    grid-template-rows: repeat(auto-fit, minmax(650px, 1fr));
    gap: 32px;
}

.card{
    background-color: var(--primary-color);

    padding: 18px;
    border-radius: 12px;

    border: var(--ascent-color) 2px solid;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 480px repeat(4, 0.8fr);
    
    grid-template-areas: 
    "img img img img img"
    "title title title title title"
    "author author author author author"
    " pages pages pages read favorite"
    "edit edit . read favorite";

    justify-content: center;

    row-gap: 0.8rem;

    font-size: 1.2rem;

    box-shadow: rgb(191, 191, 191) 12px 8px 25px;
}




.card > img,
.previewImg {
    grid-area: img;
    height: 100%;
    aspect-ratio: 1 / 1.6;

    /* border-radius: 12px;
    box-shadow: rgb(160, 160, 160) 4px 4px 8px; */
}

.card > p:nth-child(2){
    grid-area: title;
    font-weight: bold;
    font-size: 1.4rem;
}

.card > p:nth-child(3){
    grid-area: author;
    font-style: italic;
}

.card > p:nth-child(4){
    grid-area: pages;    
}

.card > p:nth-child(2),
.card > p:nth-child(3),
.card > p:nth-child(4){
    padding-left: 8px;
}

.card > p:nth-child(5){
    grid-area: read;
}

.card > p:nth-child(6) {
    grid-area: favorite;
}

.card > p:nth-child(5),
.card > p:nth-child(6){
    justify-self: end;
    align-self: end;
}

.card > p:nth-child(5) > input,
.card > p:nth-child(6) > input{
    display: none;
}

.card > p:nth-child(5) > label > svg,
.card > p:nth-child(6) > label > svg{
    height: 40px;
}


.card > div:last-child{
    grid-area: edit;
    display: grid;
    grid-template-columns: 8px 40px 40px;
}

.card > div:last-child > span:first-child{
    grid-column: 2/3;

}

.card > div:last-child > span:last-child{
    grid-column: 3/4;
}

.card > div:last-child > span:last-child:hover > svg,
.card > div:last-child > span:first-child:hover > svg{
    fill: var(--ascent-color);
}

.card > div:last-child > span:first-child,
.card > div:last-child > span:last-child{
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 500;
}

.template{
    display: none;
}

/* DIALOG FORM */

#newBookForm,
#editBookForm{
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 24px;
    border: none;
    box-shadow: 3px 3px 5px rgb(210, 210, 210);

    width: 600px;


}

#newBookForm form,
#editBookForm form {
    
    max-width: 100%;

    max-height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 32px;

    background-color: #fbfbfb;

}



#newBookForm form > div:first-child,
#editBookForm form > div:first-child{
    grid-column: 1/3;
}


#newBookForm form > p:nth-child(-n+5),
#editBookForm form  > p:nth-child(-n+5) {
    display: grid;
    grid-template-rows: 20px 1fr;
    row-gap: 6px;
    border-radius: 6px;
    
}

#newBookForm form > p:nth-child(-n+5) > input,
#editBookForm form > p:nth-child(-n+5) > input,
.extraInfoPanel > p:nth-child(1) > input,
.extraInfoPanel > p:nth-child(2) > select {
    height: 35px;
    padding: 4px;

}

.moreInformation{
    grid-column: 1/3;
}

#toggle-panel,
#toggle-EditPanel{
    height: 40px;
    width: 100%;

    display: flex;
    align-items: center;
    padding-left: 12px;
}

.extraInfoPanel{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 400ms 0ms, opacity 0ms 400ms;

    border: 1px solid black;
    border-top: none;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    padding: 20px;
}

.visible{

    opacity: 1;
    height: 220px;
    transition: height 0ms 0ms, opacity 400ms 0ms;
}


.extraInfoPanel > p:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}

.extraInfoPanel > p:nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
}

.extraInfoPanel > p:nth-child(-n + 2){
    display: grid;
    gap: 6px;
}

.extraInfoPanel > p:nth-child(-n + 2) > label {
    align-self: self-end;
}


.previewImg {
    height: 130px;
    aspect-ratio: 1 / 1.3;
    float: right;
}

.extraInfoPanel > p:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.extraInfoPanel > p:last-child > label {
    border: 1px solid black;
    padding: 6px 12px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.extraInfoPanel > p:last-child > input {
    display: none;
}


#newBookForm form > p:nth-last-child(2),
#editBookForm form > p:nth-last-child(2){
    display: grid;
    grid-column: 1/3;
    
}

#newBookForm form  textarea,
#editBookForm form textarea{
    resize: none;
    padding: 6px;

}

#sendBookButton,
#editBookButton {
    grid-row: 8 / 9;
    grid-column: 1 / 3;
    justify-self: center;
    width: 250px;
    height: 60px;
    border-radius: 8px;
}

/* Read And Favorite */


.extraInfoPanel > p:nth-child(3) > label,
.extraInfoPanel > p:nth-child(4) > label {
    display: grid;
    grid-template-rows: 1fr 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}


.extraInfoPanel > p:nth-child(3) svg,
.extraInfoPanel > p:nth-child(4) svg {
    height: 50px;
    justify-self: center;
}

.extraInfoPanel > p:nth-child(3) > label > span {
    justify-self: center;
}

#readOrNot, #favorite, #readEdit, #favoriteEdit {
    display: none;
}



.extraInfoPanel > p:nth-child(3):not(:checked) > label:hover > svg,
.card > p:nth-child(5) > label:hover > svg{
    fill: var(--ascent-second-color);
    cursor: pointer;
}

.extraInfoPanel > p:nth-child(4):not(:checked) > label:hover > svg,
.card > :nth-child(6) > label:hover > svg{
    fill: rgb(212, 109, 109);
    cursor: pointer;
}

.checkedRead {
    fill: var(--ascent-color);
}

.checkedFav {
    fill: rgb(205, 59, 59);
}



/* 5 STAR SYSTEM */

.rate{
    grid-row: 7/8;
    grid-column: 2/3;
}

.rate > input{
    display: none;
}

.rate:not(:checked) > label{
    float:right;
    width: 1em;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}


.rate > input:checked ~ label{
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    -moz-animation: none;
    animation: none;
}

#closeForm,
#closeEditForm {
    position: fixed;
    top: 2%;
    right: 5%;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    border: none;
    background-color: transparent;
}

#closeForm:hover,
#closeEditForm:hover {
    background-color: #dddddd;
    transition: 400ms;
}

#closeForm:active
#closeEditForm:active{
    border: none;
    background-color: #d0d0d0;
}

#submit{
    display: none;
}


