:root{
    --white : #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.mainContainer{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar library";
}

.header{
    border : blue 2px solid;
    grid-area: header;
}

.sidebar{
    border : green 2px solid;
    grid-area: sidebar;
}

.library{
    border : red 2px solid;
    grid-area: library;
}
